@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
:root {
  --black: #0d1117;
  --orange: #ffcdae;
  --dark: #1b1b32;
  --light: white;
}
* {
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
* {
  box-sizing: inherit;
}
*:hover {
  transition: all 0.2s ease 0s;
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  color: white;
  background: var(--dark);
  margin: 0px;
  padding: 0px;
  font-family: "Spartan", sans-serif;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
ul,
nav {
  list-style: none;
  padding-left: 0;
}
